.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  html{
    width:100%;
    height: 100%;
    font-size:20px;
    margin:none;
  }

  body{
    background-color:black;
  }

  section{
      width:50%;
  }

  #card{
    background-color:white;
    margin:auto;
    width:70%;
    height:30%;
    margin-top:100px;
    margin-bottom:100px;
    border:10px solid;
  }

  #img{
      height:100%;
      margin-left:50%;
      margin-top:-18.4%;

  }

  img{
      width:100%;
      height:100%;
      margin-bottom:-1.3%;
      background: rgba(150,30,150,0.8);
  }

  text{
      box-sizing:border-box;
  }
  
  